<% include ../parts/_header.ejs  %>

<div class="container">
    <div class="row">
        <!-- FROM -->
        <div class="col-md-5 offset-md-3">
            <div class="card">
                <div class="card-header">
                    Edit Group
                </div>
                <form action="/editgroup/<%= group._id %>" method="POST">
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Insert a path" class="form-control" value="<%= group.name %>">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<% include ../parts/_footer.ejs  %>